<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HW</title>
</head>
<body>
<h1>Домашнее задание Django 2</h1>
<p>Создайте три модели Django: клиент, товар и заказ.

<p>Клиент может иметь несколько заказов. Заказ может содержать несколько товаров. Товар может 
    входить в несколько заказов.</p>
    
<p>Поля модели «Клиент»: <br>
    — имя клиента <br>
    — электронная почта клиента <br>
    — номер телефона клиента <br>
    — адрес клиента <br>
    — дата регистрации клиента <br>
</p>   
<p>Поля модели «Товар»: <br>
    — название товара <br>
    — описание товара <br>
    — цена товара <br>
    — количество товара <br>
    — дата добавления товара <br>
</p>   
<p>Поля модели «Заказ»: <br>
    — связь с моделью «Клиент», указывает на клиента, сделавшего заказ <br>
    — связь с моделью «Товар», указывает на товары, входящие в заказ <br>
    — общая сумма заказа <br>
    — дата оформления заказа</p>

</body>
</html>